$body-bg-color: #f9f9ff;
$main-font-color: #5e5c7f;
$main-font-family: 'Rubik', sans-serif;
$show-responsive-nav: 1200px;
// header
$main-header-color: #454360;

$menu-bg-color: #353353;
$menu-border-color: rgba(255, 255, 255, 0.1);
// nav
$icon-color: #ffd15c;
$nav-font-color: #fff;
$nav-font-hover-color: #ffd15c;
$nav-copyright-color: #9c9ab3;

// home
$home-bg-color: #353353;
$home-text-color: #fff;
$home-text-color-hover: #ffd15c;

//ABOUT me

$about-cloud-bg: #fff;
$progress-bg-color: #f1f1f1;
$progress-bar-yellow: #ffd15c;
$progress-bar-red: #ff4c60;
$progress-bar-blue: #32349c;
